<!doctype html>
<html>
	<head>
		<title>Discover Japan</title>
		<link rel="stylesheet" type="text/css" href="./css/reset.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Fanwood+Text|Kaushan+Script|Playfair+Display" rel="stylesheet">
		<meta charset="utf-8">
	</head>
	<body>
	<div class="blok1">
		 <h1>Discover <span class="special"> Japan </span></h1>
	</div>
